.App {
  text-align: center;
}
.main-bg {
  height : 500px;
  /* background-image : url("./img/bgimg.jpg");   src/img폴더에 있을 때*/
  background-image : url("../public/img/bgimg.jpg");  /* public/img폴더에 있을 때 */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-box {
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 40%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}